<!DOCTYPE html>
<html lang="en" ng-app="testApp">
<head>
<meta charset="UTF-8">
<title>Test task</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

<link rel="stylesheet" href="static/style.css">


</head>
<body>

<div class="container">

</div>
<script type="text/x-handlebars" data-template-name="index">
    <button class="btn">{{#link-to 'authors'}}Authors{{/link-to}}</button>
    <button class="btn">{{#link-to 'books'}}Books{{/link-to}}</button>

  </script>
<script type="text/x-handlebars" data-template-name="books">
    <button class="btn">{{#link-to 'authors'}}Authors{{/link-to}}</button>
    <button class="btn">{{#link-to 'books'}}Books{{/link-to}}</button>
    <h1> BOOKS </h1>
    <ul>
    {{#each book in controller}}
      <li>BOOK: {{#link-to 'book.show' book.id}} {{book.Name}}{{/link-to}} <br> AUTHOR:
      {{#each author in book.authors}}
        
      {{#link-to 'author.show' author.id}}{{author.name}}{{/link-to}}

      {{/each}}
    {{/each}}
    </ul>
  </script>

  <script type="text/x-handlebars" data-template-name="book/show">
  <button class="btn">{{#link-to 'authors'}}Authors{{/link-to}}</button>
  <button class="btn">{{#link-to 'books'}}Books{{/link-to}}</button>
    <h2>NAME: {{Name}} </h2>
    <h4>DESCRIPTION: {{Description}} </h4>
    <br>
      <h4>GENGRE: {{#link-to 'genre.show' Genre.id}} {{Genre.name}} {{/link-to}}</h4>
     Authors:
     <ul>{{#each author in authors}}
        
      <li>{{#link-to 'author.show' author.id}}{{author.name}}{{/link-to}}</li>

      {{/each}}

    </ul>
  </script>
<script type="text/x-handlebars" data-template-name="author/show">
    <button class="btn">{{#link-to 'authors'}}Authors{{/link-to}}</button>
    <button class="btn">{{#link-to 'books'}}Books{{/link-to}}</button>
      <br>Name: {{Name}}
      <br>BIO:{{bio}}</li>
      <br> BOOKS:
      <ul>{{#each book in books}}
        
      <li>{{#link-to 'book.show' book.id}}{{book.name}}{{/link-to}}</li>

      {{/each}}

    </ul>
  </script>
  <script type="text/x-handlebars" data-template-name="authors">
    <button class="btn">{{#link-to 'authors'}}Authors{{/link-to}}</button>
    <button class="btn">{{#link-to 'books'}}Books{{/link-to}}</button>
    <ul>
    {{#each author in controller itemViewClass="App.ItemView"}}
      <div class="dropdown">
      <a id="dLabel" data-target="#" href="http://example.com" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
       Name: {{author.Name}}
        <span class="caret"></span>
      </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" >
          <li role="presentation"><a role="menuitem" tabindex="-1" >{{#link-to 'author.show' author.id}}GOTO PAGE{{/link-to}}</li>
            {{#each book in author.books}}
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">{{#link-to 'book.show' book.id}}{{book.name}}{{/link-to}}</a></li>
            {{/each}}
        </ul>
        </div>

   {{/each}}
    </ul>
   </script>
   <script type="text/x-handlebars" data-template-name="genre/show">
    <button class="btn">{{#link-to 'authors'}}Authors{{/link-to}}</button>
    <button class="btn">{{#link-to 'books'}}Books{{/link-to}}</button>
      <br>Name: {{Name}}
      <br> BOOKS:
      {{#each book in books}}
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">{{#link-to 'book.show' book.id}}{{book.name}}{{/link-to}}</a></li>
      {{/each}}
 
  </script>
<script src="static/jquery-1.11.2.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="static/handlebars-v1.3.0.js"></script>
<script src="static/ember.js"></script>
<script src="static/ember-data.js"></script>
<script src="static/app.js"></script>
</body>
</html>   